<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <!-- This file is only needed to create the DDL file -->
  <!-- When adding/removing classes, please also keep aligned the main
         persistence file src/main/resources/META-INF/fra2015-persistence.xml -->
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
    <property name="hibernate.connection.driver_class">org.h2.Driver</property>
    <mapping class="it.geosolutions.fra2015.server.model.user.User"/>
    <mapping class="it.geosolutions.fra2015.server.model.user.Token"/>
    <mapping class="it.geosolutions.fra2015.server.model.survey.Entry"/>
    <mapping class="it.geosolutions.fra2015.server.model.survey.EntryItem"/>
    <mapping class="it.geosolutions.fra2015.server.model.survey.NumberValue"/>
    <mapping class="it.geosolutions.fra2015.server.model.survey.TextValue"/>
    <mapping class="it.geosolutions.fra2015.server.model.survey.Survey"/>
    <mapping class="it.geosolutions.fra2015.server.model.survey.Element"/>
    <mapping class="it.geosolutions.fra2015.server.model.survey.Question"/>
    <mapping class="it.geosolutions.fra2015.server.model.survey.Session"/>
  </session-factory>
</hibernate-configuration>
