
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="
            http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-3.0.xsd"

       default-autowire="byName">

    <!-- ====================================================================-->
    <!-- === Service providers ==============================================-->
    <!-- ====================================================================-->

    <bean id="restUserService" class="it.geosolutions.fra2015.services.rest.impl.RESTUserServiceImpl" />
    
    <bean id="restAuthentication" class="it.geosolutions.fra2015.services.rest.impl.AuthenticationServiceImpl" />
    
    <bean id="restSurvey" class="it.geosolutions.fra2015.services.rest.impl.SurveyServiceImpl">
        <property name="templateResource" value="template.xml"/>
    </bean>
	
	
	
</beans>