/* 
    Document   : minimal
    Created on : 2-ott-2012, 10.25.01
    Author     : francesco
    Description:
        Purpose of the stylesheet follows.
*/



body {
    font-family: sans-serif;

    margin: 0  auto ;


}

html,body{
    height:100%;
}

a, a:visited, a:active {
    text-decoration: none;
    color:black;
}

/* HEADER */
#header {
    text-align:center;
	position:relative;
}

#header {
    background-image: url(../../images/frabanner.png);
    height: 180px;
    background-repeat: no-repeat;
    overflow: visible;


}

/* PARTNERS */
#partners{
    float:right;
}

#partners .fao-logo{
    background-image: url(../../images/faologo_tr.png);
    height: 100px;
    width: 100px;

    background-position:right;
    overflow:visible;
    background-repeat:no-repeat;

}

/* LANGUAGES */
#languages {
	position:absolute;
	right:5px;
	bottom:0px;
}
/* FOOTER */
#footer {

    border-top:thin solid black;
    position:absolute;

}
#footer .disclaimer {

    text-align:center;
    width:100%;

}


/* TOP MENU */
#topmenu {
    background-color: green;
    color:white;
	border-top:thin solid black;
	border-bottom:thin solid black;
	
}
#topmenu  ul{
    margin:0 auto;
	font-weight:bold;
}

#topmenu ul li {
	border-left: thin solid white;
	margin-left: -4px;
}

#topmenu a, #topmenu a:visited, #topmenu a:active {
    text-decoration: none;
    color:white;
    margin: 0px auto;

}
#topmenu ul li.last {
	border-right: thin solid white;
} 
#logout {
	float:right;
}

#topmenu li:hover{
    text-decoration: none;
    color:black;
    background-color: #00aa00;
}
#topmenu li {
    padding: 0px 10px 0px 10px;
    display: inline;
}

/* MAIN */
#main {
    padding:0 0px 0 0px;
    text-align: center;
}


#main > .tablelayout >.navigation, #main > .tablelayout  >.content{
    padding-top:20px;
    padding-bottom: 20px;

}

.tablelayout {
    padding:0px;
    margin:0px;
    display:table-row;
    width:100%;

}

/* NAVIGATION MENU */
.navigation {

    border-right:thin solid black;

    margin:0px;
    left: -4px;
    position: relative;
    display: table-cell;

    width:20%;
}
.navigation h3{
    text-align:left;
    margin-top:0px;
    top:0px;

    padding-left: 10px;
}

.navigation ul {
    list-style-image: none;
    list-style: none;
	padding:0px;
}
.navigation ul>:first-child{
    border-top: thin dashed black;

}
.navigation li {
    text-align: right;
    padding-right:5px;
    border-bottom: thin dashed black;


}
.navigation ul li:hover{
    background-color:#00AA00;
}

/* CONTENT */
.content {
    padding:5px;
    display: table-cell;
    text-align: left;
    width:80%;
}
form * {
    vertical-align: top;
}


.content table {
    width:100%;
}

.content th {
    background-color: gainsboro;
    color: #333333;
}

.content td {
    border:gainsboro 1px solid;
    height:32px;
}

/* LOGIN */
.login {
    text-align: center;
}

.login table {
    border: black 1px solid;
    margin: 100px auto;
}

.login caption {
    background-color: darkgrey;
    color: white;
}

.control img {
    float:left;
}

/* FORMS */
#form1 input[type=button] {
    border: 1px solid #006;
    background: #00aa00;
    font-weight:bold;
    padding:5px;
    float:right;
}

/* USERS PAGE */
#usersTableHeaderRow >td {
	background-color:green;
	border:thin solid black;

}

