<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>FRA 2015 progam report application</description>
    <display-name>FRA 2015</display-name>
    <context-param>
        <param-name>strings</param-name>
        <param-value>strings.properties</param-value>
    </context-param>
    <listener>
        <description>main servlet context listener</description>
        <listener-class>it.geosolutions.fra2015.webapp.listeners.WebApplicationListener</listener-class>
    </listener>
    <listener>
        <description>main session listener</description>
        <listener-class>it.geosolutions.fra2015.webapp.listeners.WebApplicationSessionListener</listener-class>
    </listener>
    <servlet>
        <description>serves all action requests</description>
        <servlet-name>MainController</servlet-name>
        <servlet-class>it.geosolutions.fra2015.webapp.Fra2015MainController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error/e404.jsp</location>
    </error-page>
</web-app>
